.container label {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: baseline;
}

.label {
  font-weight: bold;
}

input,
select {
  width: 55%;
  font-size: .9em;
  outline: none;
  border: 1px solid #5ccecc;
  padding: .9em .7em;
  letter-spacing: 1px;
  color: #fff;
  background: rgba(0, 0, 0, 0.77);
  float: right;
  border-radius: 5px;
}

select {
  height: 45px;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
    padding: 1em;
  }
  .container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  input,
  select {
    width: 100%;
  }
}

button {
  outline: none;
  padding: .9em 4em;
  letter-spacing: 1px;
  font-size: .9em;
  border: none;
  background: #25b5a9;
  cursor: pointer;
  text-transform: uppercase;
  margin: 30px auto 0;
  display: block;
  transition: 0.5s all;
}

button:hover {
  background: #23f7e5;
}

.temp {
  position: relative;
}

.units {
  position: absolute;
  color: white;
  right: 14px;
  top: 0;
  line-height: 3;
  font-size: .9rem;
}